.header {
    padding: r(60) 0;
    position: relative;
    @media (max-width: em(1024)) {
        padding: r(46) 0;
    }
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        column-gap: r(20);
        @media (max-width: em(1024)) {
            justify-content: space-between;
        }
    }
}